# ===============================
# Project Ignores
# ===============================
/[Bb]in/
/[Bb]in-int/
/[Ll]og/

/vcpkg_installed/

*.log

imgui.ini

# CMake cache files (safety)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake.user

# ===============================
# Visual Studio
# ===============================
.vs/
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
