# ===============================
# Project Ignores
# ===============================
/[Bb]in/
/[Bb]in-int/
/[Ll]og/

/vcpkg_installed/

*.log

imgui.ini

# CMake build output
out/
build/

# CMake cache files (safety)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake.user
*.ninja
.ninja_deps
.ninja_log

# VS
.vs/
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

# CLion
/.idea